<!DOCTYPE html>
<html>
    <head>
        <title>Animals</title>
        <meta charset = "utf-8" />
        <link rel="stylesheet" href="css/main.css">
        <!-- <script type="text/javascript" src="js/script.js"></script> -->
    </head>
    <body>
        <header>
            <!-- <img src="./imagini/logo.png" alt="logo" width="200"> -->
            
            <h1>
                Animale
            </h1>
            <h2>Cei mai buni prieteni!</h2>
            
            <nav>
                <a href="/home" id="acasa">Acasa</a>
                <a href="/chestionar" id="chestionar">Cultura</a>
                <a href="/magazin" id="magazin">Magazin</a>
                <a href="/joc" id="joc">Joc</a>
            </nav><br>
            <main id="continut" class="dark">
                <%- body -%>
            </main>
            <footer>
                <hr>
                
                <p>&copy;Animals</p>
            </footer>
        </header>
    </body>
</html>